.gallery {
	.galleryBg {
		width: 100%;

		img {
			@include objectFit;
			opacity: 0.4;
			object-position: bottom;
			filter: blur(1rem);
		}
	}

	.inner {
		.searchBox {
			text-align: right;
			padding-bottom: 3rem;

			input[type=text] {
				border: 0;
				border-bottom: 1px solid $colorBlack;
				font-size: 1.4rem;
				padding: 0.5rem;
				outline: none;
				transition: $tranDefault;

				&::placeholder {
					color: $colorLightGray;
					font-family: $fontDefault;
					opacity: 1;
					visibility: visible;
					transition: $tranDefault;
				}

				&:focus {
					border-bottom: 1px solid $colorPoint;

					&::placeholder {
						opacity: 0;
						visibility: hidden;
					}
				}
			}

			button {
				border: 1px solid $colorBlack;
				width: 3rem;
				height: 3rem;
				border-radius: 50%;
				color: $colorBlack;
				margin-left: 1rem;
			}
		}

		.loading {
			position: absolute;
			width: 16rem;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.frame {
			transform: translateY(20rem);
			opacity: 0;
			transition: 1s;

			&.on {
				transform: translateY(0);
				opacity: 1;
			}

			&:after {
				@include clear;
			}

			article {
				width: 25%;
				float: left;
				padding: 1rem;

        &:hover {
          .pictureWrap {
            .pic {
              img {
                opacity: 1;
              }
            }
          }
        }

				.pictureWrap {
					width: 100%;
					padding: 1rem;

					> p {
						font-size: $fz16;
						margin-bottom: 1rem;
						font-family: $fontPoint;
						color: $colorBlack;
					}

					.pic {
						width: 100%;
						margin-bottom: 1rem;
						cursor: pointer;

						img {
							@include objectFit;
              opacity: 0.75;
						}
					}
				}
			}
		}
	}
}

@include tablet {
	.gallery {
		.inner {
			.loading {
				width: 14rem;
			}

			.frame {
				article {
					width: 33.333%;
				}
			}
		}
	}
}

@include mobile {
	.gallery {
		.inner {
			.loading {
				width: 12rem;
			}

			.frame {
				article {
					width: 50%;
				}
			}
		}
	}
}
