.youtube {
	.youtubeBg {
		width: 100%;

		img {
			@include objectFit;
			opacity: 0.6;
			object-position: top;
		}
	}

	.inner {
		.videosWrap {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;

			article {
				width: calc((100% - 2rem) / 3);
				padding: 3rem;
				cursor: pointer;

				&:nth-of-type(odd) {
					.pic {
						background-color: #f7f2df;
					}
				}
				&:nth-of-type(even) {
					.pic {
						background-color: #e1e0dc;
					}
				}

				h2 {
					font-family: $fontPoint;
					margin-bottom: 2rem;
					font-size: 2rem;
				}

				.pic {
					width: 100%;
					padding: 3rem;
					overflow: hidden;

					img {
						@include objectFit;
					}
				}

				.desc {
					margin-top: 2rem;
					display: flex;
					justify-content: space-between;
					align-items: center;

					p {
						font-size: $fz16;
						color: $colorBlack;

						&:after {
							content: '/';
							margin-left: 1rem;
						}
					}

					span {
						font-size: 1.4rem;
						color: $colorBlack;
					}
				}
			}
		}
	}
}

@include tablet {
	.youtube {
		.inner {
			.videosWrap {
				gap: 0;

				article {
					width: calc(100% / 2);
					padding: 2%;

					h2 {
						font-size: 1.8rem;
					}

					.pic {
						width: 100%;
						padding: 8%;
						margin-bottom: 2rem;
					}

					.desc {
						p {
							font-size: 1.8vmin;
						}

						span {
							font-size: 1.6vmin;
						}
					}
				}
			}
		}
	}
}

@include mobile {
  .youtube {
		.inner {
			.videosWrap {
				article {
					width: 100%;
          margin-bottom: 3rem;

					h2 {
						font-size: 1.8rem;
					}

					.desc {
						p {
							font-size: 2vmin;
						}

						span {
							font-size: 1.8vmin;
						}
					}
				}
			}
		}
	}
}