$colorBlack: #333;
$colorWhite: #fff;
$colorLightGray: #ddd;
$colorPoint: orange;

$fontDefault: 'Open Sans', sans-serif;
$fontLogo: 'Cormorant Garamond', serif;
$fontPoint: 'Lato', sans-serif;

$fzTitle: 6.4rem;
$fz36: 3.6rem;
$fz24: 2.4rem;
$fz16: 1.6rem;
$fz14: 1.4rem;

$tranDefault: .35s;
$tranSlow: 1s;

$tablet: 1179px;
$mobile: 649px;