header {
	width: 100%;
	background-color: $colorWhite;
  border: 1px solid $colorBlack;

	.inner {
		@include inner;
		height: 8rem;
		margin: 0 auto;
		position: relative;

		> h1 {
			position: absolute;
			bottom: 2rem;
			left: 0;
		}

		#gnb {
			position: absolute;
			bottom: 0;
			right: 0;
			@include clear;

			li {
				float: left;

				a {
					font-family: 'Lato', sans-serif;
					display: inline-block;
					padding: 2rem 3rem;
					font-size: 1.4rem;
					line-height: 1;
					transition: 0.35s;
          color: $colorBlack;
				}
			}
		}
	}

  &.main {
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
  }
}

@include tablet {
  header {
    .inner {
      width: 100%;
  
      > h1 {
        left: 3rem;
      }
  
      #gnb {
        display: none;
      }
    }
  }
}